body {
    /*background: #111111;*/
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: white;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 25vw;
}

.logmsg {
    padding: 10px 30px 0px 0px;
    margin: 10px 0% 10px 10px;
    position: relative;
    display: inline;
}

.msg-box {
    display: table;
    border-radius: 25px;
    background: #222222aa;
    padding: 4px 8px 4px 10px;
    margin-left: 9px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.name-box {
    display: table;
    border-radius: 50px;
    padding: 5px 10px 5px 32px;
    margin: 0 0 0 -20px;
    z-index: 1;
    font-size: 15px;
    font-style: italic;
    color: white;
    background: #111111;
    position: relative;
    top: 2px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.message {
    color: white;
    font-size: 16px;
    word-break: break-word;
}

.profile-pic {
    height: 30px;
    border-radius: 50px;
    position: relative;
    top: 2px;
    left: 9px;
    z-index: 2;
    animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
}

.badge {
    height: 15px;
    border-radius: 50px;
    position: relative;
    top: 3px;
    margin-left: 1px;
    margin-right: 3px;
    z-index: 1;
}

.name-and-pic {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
    right: 0px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.mentioned {
    background: #44444490;
    color: white;
    border-radius: 50px;
    padding: 0px 6px 0px 5px;
    position: relative;
    animation: jackInTheBox 1s ease;
    animation-delay: 0.8s;
}

.emoticon {
    position: relative;
    top: 4px;
    height: 20px;
    margin-top: -8px;
}

.remove-msg {
    animation: bounceOutLeft 1s ease forwards;
    -webkit-animation: bounceOutLeft 1s ease forwards;
}
