body {
    background: #111111;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: white;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    /*width: 100%;*/
    width: 25vw;
}

.logmsg {
    padding: 10px 30px 0px 0px;
    margin: 10px 0% 10px 10px;
    position: relative;
    display: inline;
}

.msg-box {
    display: table;
    border-radius: 25px;
    background: #222222aa;
    /*padding: 20px 15px 20px 20px;*/
    padding: 10px 8px 10px 10px;
    margin-left: 15px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.name-box {
    display: table;
    border-radius: 50px;
    /*padding: 10px 20px 10px 62px;*/
    padding: 5px 10px 5px 32px;
    /*margin: 0px 0px 0px -40px;*/
    margin: 0 0 0 -20px;
    z-index: 1;
    /*font-size: 30px;*/
    font-size: 15px;
    font-style: italic;
    color: white;
    background: #111111;
    position: relative;
    top: 5px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.message {
    color: white;
    /*font-size: 40px;*/
    font-size: 16px;
    word-break: break-word;
}

.profile-pic {
    /*width: 60px;
    height: 60px;*/
    height: 30px;
    border-radius: 50px;
    position: relative;
    /*top: 11px;*/
    top: 5px;
    /*left: 18px;*/
    left: 9px;
    z-index: 2;
    animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
}

.badge {
    /*width: 30px;
    height: 30px;*/
    height: 15px;
    border-radius: 50px;
    position: relative;
    top: 3px;
    /*margin-right: 5px;*/
    margin-left: 1px;
    margin-right: 3px;
    z-index: 1;
}

.name-and-pic {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
    /*position:fixed; pour mettre à droite*/
    right: 0px;
    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.mentioned {
    /*font-size: 38px;*/
    background: #44444490;
    color: white;
    border-radius: 50px;
    /*padding: 0px 10px 5px 10px;*/
    padding: 0px 6px 1px 5px;
    /*margin: 0px 5px;*/
    margin: 0 0px;
    position: relative;
    top: 0px;
    animation: jackInTheBox 1s ease;
    animation-delay: 0.8s;
}

.emoticon {
    position: relative;
    top: 4px;
    height: 20px;
}

.remove-msg {
    animation: bounceOutLeft 1s ease forwards;
    -webkit-animation: bounceOutLeft 1s ease forwards;
}