body {
    background: #111111;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    color: white;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
}

.logmsg {
    padding: 10px 30px 0px 0px;
    margin: 10px 0% 10px 10px;
    position: relative;
    display: inline;
}

.msg-box {
    display: table;
    border-radius: 50px;
    background: #22222290;
    padding: 20px 15px 20px 20px;
    margin-left: 38px;

    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.name-box {
    display: table;
    border-radius: 50px;
    padding: 10px 20px 10px 62px;
    margin: 0px 0px 0px -40px;
    z-index: 1;
    font-size: 30px;
    font-style: italic;
    color: white;
    background: #111111;
    position: relative;
    top: 10px;

    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.message {
    color: white;
    font-size: 40px;
    word-break: break-word;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    top: 11px;
    left: 18px;
    z-index: 2;

    animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, tada 2s ease, bounceOutLeft 1s ease 60s forwards;
}

.badge {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    z-index: 1;
}

.name-and-pic {
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
    /* position:fixed; pour mettre à droite*/
    right: 0px;

    animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
    -webkit-animation: bounceInUp 1.5s ease, bounceOutLeft 1s ease 60s forwards;
}

.mentioned {
    font-size: 38px;
    background: #44444490;
    color: white;
    border-radius: 50px;
    padding: 0px 10px 5px 10px;
    margin: 0px 5px;
    position: relative;
    top: -2px;
    animation: jackInTheBox 1s ease;
    animation-delay: 0.8s;
}

.emoticon {
    position: relative;
    top: 10px;
}

.remove-msg {
    animation: bounceOutLeft 1s ease forwards;
    -webkit-animation: bounceOutLeft 1s ease forwards;
}